/* credit: https://3dtransforms.desandro.com/cube */
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.cube__face {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: rgba(255, 215, 0, 0.15) url('../img/block.png');
    filter: saturate(115%);

    background-size: contain;
    opacity: 1;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(2.5rem); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(2.5rem); }
.cube__face--back   { transform: rotateY(180deg) translateZ(2.5rem); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(2.5rem); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(2.5rem); }

.cube__face--top    {
    background: url('../img/top.png');
    background-size: contain;
    transform: rotateX(90deg) translateZ(2.5rem);
    filter: saturate(125%);
    box-shadow: none;
    border: none;
}

@keyframes spin {
    from { transform:translateZ(2rem) rotateX(-45deg) rotateY(-45deg);  }
    to { transform: translateZ(2rem) rotateX(-45deg) rotateY(315deg) }
}

.cube.show-iso   {
    animation: spin 8s;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    transform: translateZ(2rem) rotateX(-45deg) rotateY(-45deg);
}

@keyframes slow-fade {
    from { opacity: 0; }
    to {opacity: 1; }
}
.scene {
    width: 5rem;
    height: 5rem;
    perspective: 1200px;
    margin: 0.25rem auto;
    opacity: 1;
    filter: hue-rotate(10deg) brightness(95%) drop-shadow(0.15rem 0.15rem 0.6rem black);
}