
/* resets */
html, body {
    background: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

@keyframes swipe-down {
    from { opacity: 0; top: -25%; }
    to { opacity: 1; top: 0; }
}

nav {
    background: rgba(17,17,17,0.7) !important;
}
.navbar-brand {
    padding-left: 40px;
}

.nav-link{
    padding-right: 15px;
}

.dropdown-menu{
    background: rgba(17,17,17,0.7) !important;
}

main {
    z-index: 3;
    width: 100vw;
    overflow-x: hidden;

    animation: swipe-down 2.5s;
    animation-fill-mode: forwards;
}
main section {
    margin: 9rem auto;
    max-width: 90%;
}

main h1 {
    font-size: 3.3rem;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* Пока что у меня нет норм лого */
/*main h1 img {*/
/*    width: 40%;*/
/*}*/

main > section > div img {
    width: 70%;
}

main > section > div {
    text-align: center;
    max-height: 50%;
}

main p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: slow-fade 5s;
    animation-fill-mode: forwards;
    text-shadow: 0.2rem 0.2rem 0.4rem black;
    font-weight: 200;

    font-size: 1.1rem;
}

p i {
    font-weight: 600;
    font-size: 1.8rem;
}

p a {
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

#screenshots {
    padding: 4em;
}

#screenshots h1 {
    padding-bottom: 1em;
}

#screenshots img {
    margin-bottom: 1em;
}

#wrapper img {
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em rgb(10,10,10);
}

footer {
    padding-bottom: 2px;
    padding-right: 5%;
    padding-left: 1%;
    background: rgba(17, 17, 17, 0.5) !important;
    text-align: center;
    color: azure;
}